

#container {
    margin: auto;
    width: calc(100% - 80px);
    height: calc(100% - 15px);
    background: #33CCCC;
}

body {
  background: #33CCCC; /* Fallback */
}

.answer-box  {
    background-color: #33333333;
    padding: 10px;
}

.clickable-answer-box  {
    background-color: #33333333;
    padding: 10px;
}

.correct-answer {
    border: 2px solid green;
}